:root {
  --base-size: 1rem;
  --type-scale: 1.618;
  --extra-small: 1.4rem;
  --small: calc(var(--base-size) * var(--type-scale));
  --normal: calc(var(--small) * var(--type-scale));
  --big: calc(var(--normal) * var(--type-scale));
  --extra-big: calc(var(--big) * var(--type-scale));
}

@font-face {
  font-family: 'Exo';
  font-weight: 100 900;
  font-style: normal;
  display: swap;
  src: url('~assets/fonts/Exo-VariableFont_wght.woff2')
      format('woff2'),
    url('~assets/fonts/Exo-VariableFont_wght.ttf') format('ttf');
}

@font-face {
  font-family: 'Muli';
  font-weight: 200 900;
  font-style: normal;
  display: swap;
  src: url('~assets/fonts/Muli-VariableFont_wght.woff2')
      format('woff2'),
    url('~assets/fonts/Muli-VariableFont_wght.ttf') format('tff');
}

@font-face {
  font-family: 'Muli';
  font-weight: 200 900;
  font-style: italic;
  font-display: swap;
  src: url('~assets/fonts/Muli-Italic.woff2') format('woff2'),
    url('~assets/fonts/Muli-Italic-VariableFont_wght.ttf')
      format('ttf');
}

h1 {
  font-family: 'Exo', sans-serif;
  font-weight: 900;
  font-variation-settings: 'wght' 900;
  font-size: var(--extra-big);

  @include respond(phone) {
    font-size: var(--big);
  }
}

// h2 {
//   font-family: 'Exo', sans-serif;
//   font-weight: 900;
//   font-variation-settings: 'wght' 900;
//   margin: 10rem 0 10rem;
//   text-transform: uppercase;
//   text-align: center;
//   font-size: var(--big);

//   @include respond(phone) {
//     margin: 20rem 0 10rem;
//     font-size: var(--normal);
//   }
// }

h2 {
  font-family: 'Exo', sans-serif;
  font-weight: 600;
  font-variation-settings: 'wght' 600;
  font-size: var(--normal);
}

ul li {
  font-family: 'Muli', sans-serif;
  list-style: none;
}

p {
  font-family: 'Muli', sans-serif;
  //font-size: 1.618rem;
  font-size: var(--small);
  font-weight: 400;
  font-kerning: normal;
  hyphens: none;
  color: var(--grey-dark);
  line-height: 1.618;
  margin-bottom: 1rem;
}

strong,
b {
  color: black;
  display: inline-block;
}

.outline {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--grey-dark);
  letter-spacing: 0.1rem;
}

a {
  text-decoration: none;
  color: var(--primary);
  font-weight: 800;
  font-family: 'Muli', sans-serif;
}
